# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build output
dist/
build/
client/.cache/
.cache/
*.log

# OS files
.DS_Store

# eslint cache
.eslintcache

# yarn cache
.yarn/

# bun cache
.bun/